section {
  text-align: center;
}

.load-more-btn {
  margin: 50px auto;
  padding: 10px 30px;
  border: 1px solid #7c5c5c;
  background-color: #001529;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
}

.load-more-btn:hover {
  cursor: pointer;
  background-color: #244462;
}
